.tabbox {
    width: 90%;
    margin: 0 auto;
}
.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    li {
        width: 48.5%;
        text-align: center;
        line-height: 2.2;
        color: #FFE800;
        font-size: 1.2em;
        font-weight: bold;
        background: #272c63;
        border: solid 2px #710600;
        border-bottom: none;
        border-radius: .5em .5em 0 0;
    }
}
li.active {
    line-height: 2.5;
    font-size: 1.3em;
    color: #710600;
    background: #FFE800;
}