.content {
	display: table;
	width: 100%;
	overflow-y: hidden;
	line-height: 20px;
}
.icon {
	display: table-cell;
	width: 20px;
	height: 20px;
}
.box {
	position: relative;
	display: table-cell;
	overflow-y: hidden;
	width: 100%;
}
.inner {
	display: block;
	position: absolute;
	left: 5px;
}




.enter {
    transform: translate(0, 100%);
    opacity: 0.01;
}
.enterActive {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 300ms ease-in;
}

.leave {
	transform: translate(0, 0);
    opacity: 1;
}

.leaveActive {
	transform: translate(0, -100%);
    opacity: 0.01;
    transition: all 300ms ease-in;
}
