.content {
	display: table;
	width: 100%;
	overflow-y: hidden;
}
// .horn {
// 	display: table-cell;
// 	background: url(../RollNotice/horn.png);
// 	background-size: 100%;
// 	width: 20px;
// 	height: 20px;
// }
.icon {
	display: table-cell;
	width: 20px;
	height: 20px;
}
.box {
	position: relative;
	display: table-cell;
	overflow-y: hidden;
	width: 100%;
}
.inner {
	display: block;
	position: absolute;
	// top: 0;
	left: 5px;
}