@line:#e9e9e9;

.content {
	box-sizing: border-box;
	padding: 0;
	line-height: 1.5;
	font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif; 
	font-size: 14px;
	color: #404040;
    .h2 {
        margin: 1.6em 0 0.6em 0;
        color: #404040;
        font-size: 18px;
        font-weight: 500;
    }
}
pre, code {
	font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif; 
}
.head {
	display: block;
	width: 100%;
	background: #0e90d2;
	h1 {
		display: block;
		width: 960px;
		box-sizing: border-box;
		margin: 0 auto;
		color: #fff;
	}
}

.hello {
	box-sizing: border-box;
	padding-top: 50px;
	section {
		margin-bottom: 30px;
	}
	h2 {
	    margin: 0 0 0.6em;
	    color: #404040;
	    font-size: 18px;
	    font-weight: 500;
	}
	p, li {
		margin-bottom: 10px;
	}
	li {
		display: table;
		width: 100%;
		span{
			display: table-cell;
			&:first-child {
				width: 15px;
			}
		}
	}

	code {
	    padding: 2px 4px;
	    color: #c7254e;
	    background-color: #f8f8f8;
	    white-space: nowrap;
	    border-radius: 0;
	}
	a {
		color: #0e90d2;
		text-decoration: none;
		&:hover {color: #095f8a;}
		&:focus {color: #095f8a;}
	}
	.git {
		color: #404040;
		text-decoration: none;
		&:hover, &:focus{
			color: #404040;
			text-decoration: none;
		    background-color: #ddd;
		    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(100%,#ddd));
		    background-image: linear-gradient(to bottom,#eee 0,#ddd 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
		    border-color: #ccc;
		}
		padding: 3px 10px 3px 8px;
	    font-size: 16px;
	    line-height: 22px;
	    border-radius: 4px;
	    background-color: #eee;
	    background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#eeeeee', GradientType=0);
	    background-repeat: no-repeat;
	    border: 1px solid #d5d5d5;

		svg {
			width: 20px;
			height: 20px;
			margin-right: 5px;
			fill: #404040;
			vertical-align: top;
			&:hover {color: #095f8a;}
			&:focus {color: #095f8a;}
		}
	}
}

.main{
	display: flex;
	width: 1000px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 20px 20px;
	background: #fff;
}
.left_box {
	position: relative;
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
	text-align: left;
}
.right_box {
	position: relative;
	display: block;
	width: 100%;
	max-width: 640px;
	box-sizing: border-box;
	margin: 0px auto;
	padding-bottom: 50px;
	background: #fff;
	overflow: hidden;
}
@media screen and (max-width: 900px)  {
	.content {
		// .content;
		.head {
			h1 {
				width: 100%;
				padding: 0 10px;
			}
		}
		.main {
			width: 100%;
			padding: 10px;
			display: block;
			flex-direction: column;
			justify-content: space-between;
		}
		.left_box {
			margin: 0;
		}
		.nav {
			margin-top: 0;
			li {
				padding: 0;
			}
		}
	}
}

.nav {
	width: 100%;
	margin-top: 50px;
	font-size: 14px;
	li {
		display: block;
		box-sizing: border-box;
		padding-left: 20px;
		line-height: 2.5;
		cursor: pointer;
		&:hover {
			background-color: #e7f4fd;
		}

		small {
			font-size: .8em;
			padding-left: 5px;
		}
	}
	.active {
		color: #dd514c;
	}
}

.box {
	border: 1px solid @line;
	border-radius: 4px;
	display: block;
	position: relative;
	box-sizing: border-box;
	margin: 0px auto;
	padding-bottom: 10px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	.git {
		display: block;
		text-align: right;
		box-sizing: border-box;
		padding-right: 10px;
		color: #0e90d2;
		fill: #095f8a;
		text-decoration: underline;
		&:hover, &:focus {color: #095f8a;fill: #095f8a;}

		svg{
			width: 20px;
			height: 20px;
			vertical-align: top;
			margin-right: 5px;
			fill:inherit;
		}
	}
}
.meta {
	position: relative;
	border-top: solid 1px @line; 
	padding: 20px 10px 40px;
	font-size: 14px;
	h3 {
		position: absolute;
		top: -12px;
		left: 10px;
		width: 80px;
		font-size: 14px;
		text-align: center;
		background: #fff;
	}
}
.demo {
	width: 100%;
	max-width: 320px;
	min-height: 100px;
	box-sizing: border-box;
	padding: 30px 10px 50px;
}


.apilist {
	ul {
		display: table;
		width: 100%;
		border-left: solid 1px @line;
		&:first-child{
			border-top: solid 1px @line;
		}
		li {
			display: table-cell;
			width: 25%;
			padding: 10px;
			border: solid 1px @line;
			border-top: none;
			border-left: none;
			word-wrap: break-word;
			word-break:break-all;
		}
	}
	
}